* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: #202020;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.color-grey {
  background-color: #f1f1f1;
}

/* Шапка сайта */
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 28px;
}

header {
  font-size: 14px;
  line-height: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  font-weight: bolder;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
}

.nav-link {
  margin-right: 21px;
}

.nav-link:last-child {
  margin-right: 0;
}
.hero {
  padding-top: 106px;
}

.image-block {
  width: 100%;
  height: 115.6vw;
}
@media (max-width: 768px) {
  .btn {
    width: 100%;
    display: block;
  }
}

/* Книга */
.image-block {
  margin-bottom: 43px;
}

.author-title {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}

.title {
  font-size: 24px;
  margin-bottom: 11px;
}

.subtitle {
  display: block;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 35px;
}

.hero-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 18px;
  margin-bottom: 36px;
}

.info-text {
  font-size: 14px;
}

.hero-price {
  margin-bottom: 35px;
}
.price {
  font-size: 55px;
  line-height: 36px;
  margin-right: 28px;
}

.heart {
  width: 26px;
  height: 23px;
  margin-right: 7px;
}

@media (max-width: 576px) {
  .favorites {
    display: none;
  }
}

.btn {
  height: 61px;
}

.button-1 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border-color: #f89c02;
  background-color: #f89c02;
}

.button-2 {
  font-size: 16px;
  color: #f89c02;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #f89c02;
}

/* О книге */
.about-container {
  padding: 61px 25px 54px 25px;
}

.about-title {
  font-size: 24px;
  margin-bottom: 35px;
}

.about-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 35px;
}

.about-text:last-child {
  margin-bottom: 49px;
}

.author {
  border-radius: 10px;
  filter: drop-shadow(0px 1px 60px rgba(161, 161, 161, 0.08));
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  padding: 32px 26px 44px 25px;
  margin: 0;
}

.author-information {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.author-avatar {
  width: 64px;
  height: 64px;
  border-radius: 40px;
  margin-right: 12px;
}

.author-name {
  font-size: 16px;
  margin-bottom: 13px;
}

.link {
  font-size: 11px;
}

.author-text {
  font-size: 14px;
  line-height: 20px;
}

/* Читатели */

.readers {
  padding: 60px 28px;
}

.readers-title {
  font-size: 24px;
  margin-bottom: 36px;
}

.readers-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 14px;
  column-gap: 14px;
  padding: 0;
}
.readers-photo {
  width: 125px;
  height: 125px;
}

@media (max-width: 575px) {
  .ph-5,
  .ph-6,
  .ph-7,
  .ph-8,
  .ph-9,
  .ph-10,
  .ph-11,
  .ph-12 {
    display: none;
  }
}

/* Читатели */

.footer-container {
  padding: 70px 65px 70px 30px;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.requisites-info,
.information-text,
.contact-text {
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 36px;
}

li {
  margin-bottom: 16px;
}
/* Медиа запросы */

@media (min-width: 576px) {
  .container {
    padding: 24px 48px;
  }
  .image-block {
    height: 116.6vw;
    margin-bottom: 59px;
  }
  .author-title {
    font-size: 18px;
  }
  .title {
    font-size: 36px;
    margin-bottom: 19px;
  }
  .subtitle {
    width: 40.6vw;
    font-size: 20px;
    margin-bottom: 31px;
  }
  .info-text {
    font-size: 16px;
  }
  .button-1 {
    margin-bottom: 20px;
  }
  .about-container {
    padding: 60px 54px 100px 48px;
  }
  .about-text {
    margin-bottom: 35px;
  }
  .about-text:last-child {
    margin-bottom: 71px;
  }
  .author {
    padding: 55px 100px 69px 48px;
  }
  .author-avatar {
    margin-right: 16px;
  }
  .author-text {
    width: 57.8vw;
  }
  .link {
    font-size: 14px;
  }
  .readers {
    padding: 55px 48px;
  }
  .readers-title {
    margin-bottom: 43px;
  }
  .readers-photo {
    width: 145px;
    height: 145px;
  }
  .readers-container {
    row-gap: 16px;
    column-gap: 16px;
    padding: 0;
  }
  @media (max-width: 991px) {
    .ph-7,
    .ph-8,
    .ph-9,
    .ph-10,
    .ph-11,
    .ph-12 {
      display: none;
    }
  }
  .footer-container {
    padding: 75px 0px 75px 47px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 24px 106px;
  }
  .image-block {
    height: 102.7vw;
  }
  .author-title {
    font-size: 22px;
  }
  .title {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .subtitle {
    width: 45.9vw;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 28px;
  }
  .hero-info {
    width: 55vw;
    flex-direction: row;
    margin-bottom: 39px;
  }
  .info-text {
    flex-basis: 50%;
    font-size: 15px;
  }
  .price {
    margin-right: 64px;
  }
  .favorites {
    font-size: 16px;
  }
  .hero-price {
    margin-bottom: 41px;
  }
  .hero-buttons {
    display: flex;
    column-gap: 15px;
  }
  .btn {
    width: 200px;
    height: 48px;
    font-size: 14px;
  }
  .about-container {
    padding: 78px 115px 88px 101px;
  }
  .about-title {
    margin-bottom: 29px;
  }
  .about-text:last-child {
    margin-bottom: 69px;
  }
  .author {
    padding: 66px 117px 87px 54px;
  }
  .author-avatar {
    width: 108px;
    height: 108px;
    border-radius: 100px;
  }
  .author-information {
    margin-bottom: 23px;
  }
  .author-text {
    width: 49.6vw;
    font-size: 16px;
    line-height: 24px;
  }
  .readers {
    padding: 80px 100px;
  }
  .readers-title {
    margin-bottom: 54px;
  }
  .readers-photo {
    width: 167px;
    height: 167px;
  }
  .readers-container {
    row-gap: 29px;
    column-gap: 29px;
    padding: 0;
  }
  .footer-container {
    padding: 60px 130px 80px 104px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 77px;
    row-gap: 40px;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 24px 116px;
  }
  .hero-container {
    display: flex;
    align-items: center;
  }
  .image-block {
    height: 42.2vw;
    width: 33.2vw;
    margin-bottom: 0;
    padding-right: 31px;
  }
  .author-title {
    margin-bottom: 13px;
  }
  .subtitle {
    width: 35.5vw;
  }
  .hero-info {
    width: 42.2vw;
  }
  .hero-info {
    row-gap: 16px;
    margin-bottom: 39px;
  }
  .info-text {
    font-size: 14px;
  }
  .hero-price {
    margin-bottom: 39px;
  }
  .about-container {
    padding: 80px 147px 82px 114px;
  }
  .about-text:last-child {
    margin-bottom: 61px;
  }
  .author {
    width: 56.1vw;
  }
  .author-name {
    margin-bottom: 22px;
  }
  .link {
    font-size: 16px;
  }
  .author-text {
    width: 38.4vw;
  }
  .readers {
    padding: 75px 118px;
  }
  .readers-title {
    margin-bottom: 56px;
  }
  .readers-container {
    padding: 0;
  }
  @media (max-width: 1199px) {
    .ph-9,
    .ph-10,
    .ph-11,
    .ph-12 {
      display: none;
    }
  }
  .footer-container {
    padding: 60px 115px 90px 115px;
    column-gap: 75px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 24px 121px;
  }
  .image-block {
    height: 45.7vw;
    width: 35.1vw;
  }
  .author-title {
    font-size: 24px;
    margin-bottom: 22px;
  }
  .title {
    font-size: 54px;
    margin-bottom: 15px;
  }
  .subtitle {
    width: 29.4vw;
    margin-bottom: 48px;
  }
  .hero-info {
    width: 35.2vw;
  }
  .info-text {
    font-size: 15px;
  }
  .hero-price {
    margin-bottom: 47px;
  }
  .hero-buttons {
    column-gap: 20px;
  }
  .btn {
    width: 251px;
    height: 61px;
    font-size: 16px;
  }
  .about-container {
    display: flex;
    padding: 90px 120px 95px 113px;
  }
  .about-book {
    width: 50vw;
    margin-right: 53px;
  }
  .about-title {
    font-size: 32px;
    margin-bottom: 35px;
  }
  .about-text:last-child {
    margin-bottom: 0px;
  }
  .author {
    padding: 66px 114px 86px 57px;
  }
  .author {
    width: 46.6vw;
  }
  .author-text {
    width: 100%;
  }
  .readers {
    padding: 70px 121px;
  }
  .readers-title {
    font-size: 32px;
  }
  .readers-photo {
    width: 140px;
    height: 140px;
  }
  .readers-container {
    row-gap: 23px;
    column-gap: 23px;
    padding: 0;
  }
  .footer-container {
    padding: 60px 125px 90px 120px;
    column-gap: 170px;
  }
}

@media (min-width: 1400px) {
  .container {
    padding: 24px 116px;
  }
  .hero-container {
    max-width: 1400px;
    max-height: 776px;
  }
  .image-block {
    max-width: 582px;
    max-height: 646px;
    height: 46.2vw;
    width: 41.6vw;
    padding-right: 122px;
  }
  .subtitle {
    width: 25.2vw;
  }
  .hero-info {
    max-width: 422px;
    width: 30.2vw;
  }
  .about-container {
    padding: 100px 120px;
  }
  .about-book {
    width: 32.6vw;
    margin-right: 130px;
  }
  .author {
    width: 39.1vw;
  }
  .readers {
    padding: 90px 120px;
  }
  .readers-photo {
    width: 167px;
    height: 167px;
  }
  .readers-container {
    padding: 0;
  }
  .footer-container {
    padding: 60px 320px 90px 115px;
    column-gap: 165px;
  }
}
